@import "../variables.scss";
@import "../mixins.scss";

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  @include md {
    &:nth-child(odd) {
      padding-right: calc(50% + 30px);
    }
    &:nth-child(even) {
      padding-left: calc(50% + 30px);
    }
  }
  .degree {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    border-radius: $raduis;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .pulse {
      @include sm {
        height: 20px;
        width: 20px;
        background-color: $green;
        position: absolute;
        left: -7px;
        border-radius: 50%;
        top: 10px;
        span {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: inherit;
          border-radius: inherit;
          inset: 0;
          opacity: 0.8;
          animation: pulseAnimate 4s ease-out infinite;
          animation-delay: calc(1s * var(--i));
        }
        @include md {
          left: calc(50% - 11px);
        }
      }
    }
    .academy {
      color: $green;
      text-transform: capitalize;
    }
    .title-degree {
      margin: 10px 0;
      font-weight: $semiBold;
      text-transform: capitalize;
      @include theme() {
        color: theme-get("titleColor");
      }
    }
    .desc {
      @include theme() {
        color: theme-get("textColor");
      }
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0 5px;
      margin-top: 10px;
      .delete,
      .update {
        font-size: 20px;
        @include theme() {
          color: theme-get("textColor");
        }
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          @include theme() {
            color: theme-get("titleColor");
          }
          font-size: 24px;
        }
      }
    }
  }
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
