.heading {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;

  .gradient-text {
    position: relative;
    font-size: 16vw;
    @include sm {
      font-size: 6.25rem;
    }
    opacity: 0.1;
    margin: 20px 0;
    font-weight: $regular;
    @include theme() {
      color: theme-get("textColor");
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 20px;
      width: 100%;
      background-color: transparent;
      @include theme() {
        box-shadow: -1px -8px 20px 12px theme-get("bgColor");
      }
    }
  }
  .sub-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: $regular;
    @include theme(){
      color: theme-get('textColor');
    }
    @include sm {
      font-size: 1.5rem;
    }
    font-size: 5vw;
    letter-spacing: 4px;
  }
}
