.home {
  padding-bottom: 170px;
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include xl {
      flex-direction: unset;
      flex-wrap: wrap;
    }
    gap: 20px;
    .about {
      max-width: 650px;
      min-height: 460px;
      .info {
        h1 {
          margin-bottom: 20px;
          @include theme() {
            color: theme-get("titleColor");
          }
          min-height: 80px;
          @include sm {
            margin-bottom: 0;
          }
        }
        p {
          @include theme() {
            color: theme-get("textColor");
          }
        }
      }
      .extra-info {
        margin: 48px 0;
        .location,
        .available {
          width: fit-content;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0 5px;
          @include theme() {
            color: theme-get("textColor");
          }
          .location-icon {
            @include theme() {
              color: theme-get("textColor");
            }
            font-size: 24px;
          }
        }
        .available {
          .circle-icon {
            font-size: 20px;
            color: $green;
          }
        }
      }
      .social-media {
        li {
          display: inline-block;
          padding: 0 6px;
          a {
            :first-child {
              font-size: 24px;
              @include theme() {
                color: theme-get("textColor");
              }
            }
          }
        }
      }
    }
    .image {
      order: -1;
      margin-bottom: 40px;
      @include xl {
        order: 0;
        flex: 1;
        position: relative;
        min-height: 460px;
        max-width: 400px;
      }
      .my-img {
        position: relative;
        width: 240px;
        height: 222px;
        @include xl {
          width: 310px;
          height: 286px;
        }
        border-radius: $raduis;
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: calc(100% + 50px);
          height: 100%;
          left: -25px;
          top: 23px;
          @include xl {
            width: 100%;
            left: 50px;
            top: 50px;
          }
          border-radius: 12px;
          @include theme() {
            background: theme-get("secondBgColor");
          }
        }
        &::before {
          content: "";
          position: absolute;
          @include theme() {
            background-color: theme-get("bodyBgColor");
          }
          width: calc(100% + 20px);
          height: calc(100% + 20px);
          top: -12px;
          left: -10px;
          z-index: 1;
          border-radius: 12px;
        }
        img {
          position: absolute;
          width: 100%;
          border-radius: $raduis;
          z-index: 2;
        }
      }
    }
    .btn {
      width: 100%;
      button {
        margin: 0 auto;
        cursor: pointer;
        border: none;
        padding: 15px 30px;
        border-radius: 12px;
        @include theme() {
          color: theme-get("bgColor");
          background-color: theme-get("titleColor");
        }
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 0 8px;
      }
    }
  }
}
