.home {
  padding-bottom: 170px;
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include xl {
      flex-direction: unset;
      flex-wrap: wrap;
    }
    gap: 20px;
    .about {
      max-width: 650px;
      min-height: 460px;
      .info {
        h1 {
          margin-bottom: 20px;
          @include theme() {
            color: theme-get("titleColor");
          }
          min-height: 80px;
          @include sm {
            margin-bottom: 0;
          }
        }
        p {
          @include theme() {
            color: theme-get("textColor");
          }
        }
      }
      .extra-info {
        margin: 48px 0;
        .location,
        .available {
          width: fit-content;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0 5px;
          @include theme() {
            color: theme-get("textColor");
          }
          .location-icon {
            @include theme() {
              color: theme-get("textColor");
            }
            font-size: 24px;
          }
        }
        .available {
          .circle-icon {
            font-size: 20px;
            color: $green;
          }
        }
      }
      .social-media {
        li {
          display: inline-block;
          padding: 0 6px;
          a {
            :first-child {
              font-size: 24px;
              @include theme() {
                color: theme-get("textColor");
              }
            }
          }
        }
      }
    }
    .image {
      order: -1;
      margin-bottom: 40px;
      @include xl {
        order: 0;
        flex: 1;
        position: relative;
        min-height: 460px;
        max-width: 400px;
      }
      .my-img {
        position: relative;
        width: 240px;
        height: 222px;
        @include xl {
          width: 310px;
          height: 286px;
        }
        border-radius: $raduis;
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: calc(100% + 50px);
          height: 100%;
          left: -25px;
          top: 23px;
          @include xl {
            width: 100%;
            left: 50px;
            top: 50px;
          }
          border-radius: 12px;
          @include theme() {
            background: theme-get("secondBgColor");
          }
        }
        &::before {
          content: "";
          position: absolute;
          @include theme() {
            background-color: theme-get("bodyBgColor");
          }
          width: calc(100% + 20px);
          height: calc(100% + 20px);
          top: -12px;
          left: -10px;
          z-index: 1;
          border-radius: 12px;
        }
        img {
          position: absolute;
          width: 100%;
          border-radius: $raduis;
          z-index: 2;
        }
      }
    }
    .btn {
      width: 100%;
      button {
        margin: 0 auto;
        cursor: pointer;
        border: none;
        padding: 15px 30px;
        border-radius: 12px;
        @include theme() {
          color: theme-get("bgColor");
          background-color: theme-get("titleColor");
        }
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 0 8px;
      }
    }
  }
  .orbit {
    --size: 12rem;
    --speed: 100s;
    @include md {
      min-height: 900px;
      display: grid;
      place-items: center;
    }

    .skills-text{
      text-align: left;
      @include md {
        position: absolute;
      }
    }
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax(65px ,1fr));
      gap: 20px;
      @include md {
        grid-template-columns: none;
        gap: 0;
        place-items: center;
        width: var(--size);
        height: var(--size);
        transform-origin: center;
        animation: orbit var(--speed) linear infinite;
        &:hover {
          animation-play-state: paused;
          --orbit-play-state: paused;
        }
      }

    }
    li {
    position: relative;
    width: 4rem;
    @include md {
      width: 6rem;
      position : absolute; 
    }
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-weight: 500;
    color: white;
    text-align: center;
    line-height: 1;
    display: grid;
    place-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    & > * {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      border-radius: inherit;
      position: absolute;
      @include md {
        animation: orbit var(--speed) linear reverse infinite;
        animation-play-state: var(--orbit-play-state, running);
      }


    }
    > p {
      opacity: 0;
      background-color: #000000c3;
      transition: opacity 500ms;

    }
    > div {
      width: 60%;
      height: 60%;
       > img {
        width: 100%;
        height: 100%;
      }
    }
    &:hover > p {
      opacity: 1;
    }


    }
    @include md {

      @for $i from 1 through 10 {
        $angle: (360 / 10) * $i;
        li:nth-child(#{$i}){
          transform: 
        rotate(-#{$angle}deg)
        translate(15rem)
        rotate(#{$angle}deg) ;
        }
      }
    }
  }
}

@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}



