

.button {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  border-radius: $raduis;
  transition: all 0.3s ease-out;
  cursor: pointer;
  @include lg {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    &:hover {
      height: 155px;
    }
    &:hover {
      .text {
        display: inline;
      }
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $raduis;
    height: 60px;
    width: 60px;
    text-align: center;
    .home-icon {
      display: none;
      font-size: 25px;
      line-height: 60px;
      color: $green;
      @include lg {
        display: block;
      }
    }
  }
  .text {
    font-size: 16px;
    color: $textColor;
    font-weight: $normal;
    line-height: 50px;
    transition: .3s;
    &:hover {
      font-size: 18px;
      font-weight: $semiBold;
    }
    @include lg {
      line-height: 60px;
      flex: 1;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      white-space: nowrap;
      display: none;
      font-size: 18px;
    }
  }
}
