@import './variables.scss'; 


.not-found {
    text-align: center;
    padding-top: 100px;
    .empty{
      font-size: 60px;
      color : $textColor ;
      margin-bottom: 20px;
    }
    p{
      color: $textColor;
      font-size: 20px;
    }
  }
  