.not-found {
  text-align: center;
  padding-top: 100px;
  .empty {
    font-size: 60px;
    @include theme() {
      color: theme-get('textColor')
    }
    margin-bottom: 20px;
  }
  p {
    @include theme(){
      color: theme-get('textColor');
    }
    font-size: 20px;
  }
}
