.tag {
  width: fit-content;
  @include theme() {
    background-color: theme-get("secondBgColor");
  }
  padding: 4px 14px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 5px;
  transition: 0.2s;
  cursor: pointer;
  & > span {
    font-size: 15px;
    @include theme() {
      color: theme-get("textColor");
    }
    @include sm {
      font-size: 16px;
    }
  }
  .close-icon {
    font-size: 20px;
    cursor: pointer;
    padding-top: 3px;
  }
  &:hover {
    scale: 1.1;
  }
}
