
$green : #14A800 ;
$white : #FFFFFF ;
$titleColor : #111827 ;
$bgColor : #f9fafb ;
$secondBgColor: #e5e7eb ;
$textColor : #4b5563;
$darkGray : #030712;

$raduis :12px ;
$bold : 700;
$semiBold : 600;
$normal : 400;




